<div class="container">
  <div class="header">
    <h4>About me</h4>
    <h5>Let me introduce myself</h5>
  </div>
  <div class="info">
    <div class="image">
      <img src="../../assets/pics/showimg.jpg" alt="">
    </div>
    <div class="basicinfo">
      <div class="name">
        <h5>Name:</h5>
        <h6>Vishu Handa</h6>
      </div>
      <div class="email">
        <h5>Email:</h5>
        <h6>vishuhanda001@gmail.com</h6>
      </div>
      <div class="phone">
          <h5>Phone:</h5>
          <h6>+91-8146464649</h6>
      </div>
      <div class="nationality">
        <h5>Nationality:</h5>
        <h6>India</h6>
      </div>
      <div class="area">
        <h5>Area:</h5>
        <h6>Punjab,Amritsar</h6>
      </div>
      <div class="jobtitle">
        <h5>Job Title:</h5>
        <h6>Front End Developer</h6>
      </div>
    </div>

  </div>
</div>