<div class="container">
  <div class="container1">
    <h4>Web Development</h4>
    <div>My main service is building custom and original websites. I always make sure to keep them unique, functional and modern.
        I develop most of my websites completely from scratch, with or without frameworks such as bootstrap. I can assure you
        that my websites are at the highest standards.</div> 
  </div>
  <div class="container2">
    <h4>Web Design</h4>
    <div>
        This one goes in pair with the development of the website. Before I start coding, I will make an appealing design that
        suits your business and wants. I always keep up with the latest design trends, and of course all of my designs use
        a responsive/mobile friendly layout, meaning they will adapt to the size of the screen.
    </div>
    
  </div>
  <div class="container3">
    <h4>Website Restyling</h4>
    <div>
      Do you feel like your website is out of date and needs an upgrade? Is it not responsive? Is something not working properly?
      Or are you just tired of the design? I can upgrade and fix your website, making sure it keeps the highest market standards.
    </div>
    
  </div>
</div>