

<div class="intro">
  <p class="hi">Hi I'm</p>
  <p>Vishu Handa</p>
  <p class="name">{{myname}}</p>
  <p class="skills" [ngStyle]="{
     
     'animation-iteration-count': 'infinite',
     'animation-direction':'alternate',
     'overflow': 'hidden',
     'white-space': 'nowrap',
     'border-right':'2px solid white',
     'margin-left': 'auto',
     'margin-right': 'auto'
  }">I am a Web Developer who creates {{skill}}</p>
  <p class="prowebsites">professional websites</p>
  <button (click)="getme()"> Yes I am available for hire</button>
</div>
